body {

  --first-blue: #182f41;

  --almost-black: #0d1820;

  --orange: #d96831;
}

.in-progress-ingredients {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.check-ingredient {
  text-decoration: line-through;
}

.end-container {
  display: flex;
  justify-content: center;
}

.end-btn {
  background-color: var(--first-blue);
  color: var(--orange);
}
